.card-category {
  //* Nodos exclusivos del componente.
  &__title {
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
  }

  //* Referencia al componente Card.
  $c-c: '.c-card';
  &-card#{$c-c} {
    padding: 0.75rem;
    max-height: 200px;

    #{$c-c}-content {
        padding: 0.5rem;
    }
  }
}
