.header-action {
  &__container {
    height: 64px;
  }

  &__icon-button.c-icon-button {
    display: flex;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 8px 32px rgb(26 26 26 / 10%);
  }

  &__title {
    flex: 1;
    text-align: center;
    font-size: var(--h1-font-size);
  }
}
