.ecco {
  //* Referencia al componente BottomBar.
  $b-b: '.c-bottom-bar';
  &-bottom-bar {
    body.hidden-bottom-bar & {
      bottom: -100%;
    }

    &#{$b-b} {
      transition: bottom var(--transition);
      z-index: calc(var(--z-app-bar) + 2);
    }
  }
}
