.o-aspect-ratio {
  height: auto;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 56.25%;

    z-index: 1;
    position: relative;
  }

  &--16-9::before {
    padding-bottom: 56.25%;
  }

  &--1-1::before {
    padding-bottom: 100%;
  }

  &--9-16::before {
    padding-bottom: 177.78%;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;

    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
  }
}
