.categories {
  position: relative;
  background-color: var(--body-color);
  z-index: calc(var(--z-app-bar) + 1);

  &__header {
    position: sticky;
    top: 0;
  }

  &__content {
    margin-top: 1.5rem;
    margin-bottom: calc(var(--header-height) + 1.5rem);
  }

  &__loading {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //* Referencia al componente Seacrh.
  $c-s: '.c-search';
  &__search#{$c-s} {
    font-size: 1.5rem;

    &,
    #{$c-s}__input {
      background-color: var(--container-color);
    }
  }
}
