@use '../../tools' as mx;

.c-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 6rem 2rem 3.5rem;
  transition: 0.3s;

  @include mx.from(lg) {
    padding: 0;
    position: initial;
  }

  &.is-show {
    right: 0;
  }
}
