.cart-product {
  position: relative;

  //* Nodos propios del componente CartProduct.
  &__title {
    font-size: var(--h4-font-size);
  }

  &__price {
    font-size: var(--normal-font-size);
  }

  &__summary {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__subtotal {
    font-size: 1rem;
    font-weight: var(--font-medium);
  }

  &__trash {
    top: 0;
    right: 0;
    position: absolute;
    color: rgb(153, 22, 22);
  }

  //* Referencia al componente Counter.
  $c: '.counter';
  &-counter#{$c} {
    flex: 1;
    font-size: 1rem;
    align-items: flex-end;
  }

  //* Referencia al componente Card.
  $c-c: '.c-card';
  &-card#{$c-c} {
    gap: 1rem;
    display: flex;
    padding: 0.75rem;
    flex-direction: row;
    background-color: var(--card-color);
    box-shadow: none;

    //* Referencia al componente CardImage (children de Card).
    #{$c-c}-image {
      width: 70px;
      border-radius: 10px;
      overflow: hidden;

      &__img {
        object-fit: contain;
      }
    }

    //* Referencia al componente CardContent (children de Card).
    #{$c-c}-content {
      flex: 1;
      gap: 0.5em;
      display: flex;
      padding: 0;
      padding: 0.25rem;
      padding-right: 2em;
      flex-direction: column;
    }
  }
}
