/* ---------------- TAGS (BASE) ---------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);

  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  display: block;
  object-fit: contain;
}

a,
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* ---------------- TAGS (BASE) ---------------- */
