.c-bottom-bar {
  --height: 56px;
  $b: &;

  position: fixed;
  z-index: var(--z-app-bar);
  bottom: 0;
  left: 0;
  background-color: var(--first-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  width: 100%;
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px -10px 2px var(--body-color);

  &__list {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__item {
    cursor: pointer;
    position: relative;
    flex: 1;
    width: var(--height);
    height: var(--height);
    z-index: var(--z-normal);
  }

  &__link {
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: flex;
    height: var(--height);
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: 0.5s;
    color: var(--title-color);

    #{$b}__item.is-active & {
      color: white;
      transform: translateY(calc(var(--height) / 2 * -1));
    }
  }

  &__text {
    position: absolute;
    color: var(--title-color);
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(0);

    #{$b}__item.is-active & {
      transform: translateY(calc(var(--height) / 4));
      opacity: 1;
    }
  }

  &__indicator {
    position: absolute;
    top: -50%;
    transform: translateX(-50%);
    width: var(--height);
    height: var(--height);
    background-color: var(--title-color);
    border-radius: 50%;
    border: 6px solid var(--body-color);
    transition: 0.5s;

    --size: calc(var(--height) / 3);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: calc(var(--size) * -1 - 2px);
      width: var(--size);
      height: var(--size);
      background-color: transparent;
      border-top-right-radius: var(--size);
      box-shadow: 0px calc(var(--size) / 2 * -1) var(--body-color);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: calc(var(--size) * -1 - 2px);
      width: var(--size);
      height: var(--size);
      background-color: transparent;
      border-top-left-radius: var(--size);
      box-shadow: 0px calc(var(--size) / 2 * -1) var(--body-color);
    }
  }
}
