@use '../../../../bemit/tools/mixins/layout.scss' as l;

.favorites {
  @include l.header-space-layout;

  display: grid;
  gap: 0.57rem;
  padding-bottom: 80px;

  &__empty {
    text-align: center;
  }
}
