@use '../../tools/mixins/breakpoints.scss' as bp;

.o-container {
  max-width: 928px;

  margin-left: var(--mb-1);
  margin-right: var(--mb-1);

  @include bp.from(sm) {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  @include bp.from(md) {
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
  }
  @include bp.from(xxl) {
    margin-left: auto;
    margin-right: auto;
  }
}
