@use '../../tools/mixins/breakpoints.scss' as bp;

.c-toolbar {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include bp.from(lg) {
    justify-content: initial;
    column-gap: 3rem;
  }
}
