.header {
  $b: &;
  &.is-open-search {
    z-index: calc(var(--z-app-bar) + 4);
  }

  &__container {
    position: relative;
  }

  &__logo {
    color: var(--title-color);
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1.1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;

    &-icon {
      font-size: 1.25rem;
    }
  }

  &__buttons {
    gap: 1rem;
    display: flex;
    align-items: center;

    margin-right: 56px;
  }

  //* Referencia al componente IconButton.
  $i-b: '.c-icon-button';
  &__icon#{$i-b} {
    padding: 0.25em;
    font-size: 1.5em;
    color: var(--title-color);

    > svg {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
    .dark-theme & {
      > svg {
        &:nth-child(1) {
          display: block;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  //* Referencia al componente Search.
  $c-s: '.c-search';
  &__search#{$c-s} {
    font-size: 1.25rem;
    right: 24px;
    position: absolute;
    transition: width var(--transition), font-size var(--transition);

    &.is-active {
      width: calc(100% - 48px);
      font-size: 1.5rem;
    }

    #{$c-s}__icon {
      > * {
        font-size: 1.5rem;
        transition: font-size var(--transition);
      }
    }
  }

  &-results {
    inset: 0;
    position: fixed;
    top: var(--header-height);

    width: 100vw;
    background-color: var(--container-color);

    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height var(--transition), opacity var(--transition);

    #{$b}.is-open-search & {
      opacity: 1;
      height: 100vh;
    }

    &__container {
      margin-top: 2rem;
    }

    &__title {
    }

    &__list {
      row-gap: 0;
      margin-top: 1.5rem;
    }
  }
}
