.header {
  $b: &;
  transition: z-index var(--transition);

  &.is-open-search {
    z-index: calc(var(--z-app-bar) + 4);
  }

  &__container {
    position: relative;
  }

  &__logo {
    color: var(--title-color);
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1.1px;
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;

    &-icon {
      font-size: 1.25rem;
    }
  }

  &__buttons {
    gap: 1rem;
    display: flex;
    align-items: center;

    margin-right: 56px;
  }

  //* Referencia al componente IconButton.
  $i-b: '.c-icon-button';
  &__icon#{$i-b} {
    padding: 0.25em;
    font-size: 1.5em;
    color: var(--title-color);

    > svg {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
    .dark-theme & {
      > svg {
        &:nth-child(1) {
          display: block;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }
}
