.c-appbar {
  width: 100%;

  z-index: 99;
  transition: 0.3s;

  background-color: white;

  &--fixed {
    top: 0;
    left: 0;
    position: fixed;
  }

  &--relative {
    position: relative;
  }
}
