.c-appbar {
  width: 100%;
  height: auto;

  z-index: var(--z-app-bar);
  transition: var(--transition);

  background-color: var(--container-color);

  &--fixed {
    top: 0;
    left: 0;
    position: fixed;
  }

  &--relative {
    position: relative;
  }
}
