@use '../../../../bemit/tools/mixins/layout.scss' as l;

.login {
  @include l.header-space-layout;

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    max-width: 500px;
    margin: 0 auto;
  }
}
